html {
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

.table-wrapper {
  overflow-x: auto;
}

h1 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

table,
th,
td {
  border: 1px solid #aaa;
  border-collapse: collapse;
}

th {
  font-size: 0.95rem;
  background-color: #252525;
  color: white;
}

th,
td {
  padding: 0.25rem 0.25rem;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

table.striped tr:nth-child(even) {
  background-color: #eee;
}

.text-right {
  text-align: right;
}

.text-mono {
  font-family: monospace;
  font-size: 0.9em;
}

.strike {
  text-decoration: line-through;
}

details {
  border: 1px solid #c59b6e;
  border-radius: 5px;
  margin: 0.25rem 0rem;
  padding: 0.25rem 0.5rem;
  background: #e7e3de;
  padding: 0.5rem;
}

details summary {
  cursor: pointer;
  font-weight: bold;
}

a {
  color: #164b74;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.sharing-button-wrapper > button {
  margin: 0.33em;
}

.card {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: #aaa solid 1px;
  border-radius: 5px;
  box-shadow:
    2.9px 2.6px 4.1px -30px rgba(0, 0, 0, 0.061),
    9.8px 8.7px 13.6px -30px rgba(0, 0, 0, 0.089),
    44px 39px 61px -30px rgba(0, 0, 0, 0.15);
}

.main {
  overflow-x: auto;
}

.navigation-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1rem;
  margin: 0 auto;
  border-bottom: #9d9d9d solid 1px;
}

.navigation-ul {
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;

  font-size: 1rem;
  font-weight: bold;

  display: inline-flex;

  & > li {
    padding-right: 1rem;

    a {
      color: #8b8b8b;
      text-decoration: none;
    }

    &.active {
      a {
        color: #105da0;
      }
    }
  }
}

.alert {
  background: #654132;
  border: 1px solid #a46b32;
  color: #ead4be;
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 0.25rem 0.5rem;

  a {
    color: #8db0e6;
  }
}
